
<div ng-if="slot.editmode" id="editAgenda" ng-style="{'margin-top' : plaseeditform * 0.65-38 +'px'}">
    <input type="hidden">

    <form>
        <div class="form-group first-clockpicker">
            <div class="input-group clockpicker width-clockpicker">
                <input type="text" class="form-control" ng-model="startmeeting"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
            </div>

        </div>
        <div class="pull-right display-inline">
            <button class="btn btn-default width-button" type="button" ng-click="SaveMeeting(slot)"
                    ng-bind="localization.confirmEdit"></button>
        </div>

    </form>
    <form>
        <div class="form-group second-clockpicker">
            <div class="input-group clockpicker width-clockpicker">
                <input type="text" class="form-control" ng-model="endmeeting">
                    <span class="input-group-addon">
                         <span class="glyphicon glyphicon-time"></span>
                    </span>
            </div>
        </div>
        <div class="pull-right display-inline">
            <button class="btn btn-default width-button" type="button" ng-click="CancelEdit(slot)"
                    ng-bind="localization.cancelEdit"></button>
        </div>
    </form>

    <div class="input-group">
            <span class="input-group-addon"   ng-bind="localization.priority">
            </span>
        <input type="number" class="form-control" ng-model="priority">
    </div>


</div>