.bottom-margin:not(:last-child) {
    margin-bottom: 15px;
}

.topAll {
    margin-top: 50px;
    margin-bottom: 40px;
}

.break-word {
    overflow: auto;
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
}

a.boxclose {
    float: right;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before {
    content: "×";
}