<div class="ng-cloak container">
    <div class="row">
        <div class="col-lg-6 ">
            <h2>{{day}}</h2>           
            <div ng-repeat="hour in dayhoursmeetings">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{{hour.view}}</span>
                    <label ng-if="hour.meeting.title" class="form-control" ><input type="hidden">{{hour.meeting.title}}</label>
                    <span ng-if="hour.meeting.title&&(hour.meeting.contact == hour.contact._id)" class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="DeleteMeeting(hour)">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </span>
                    <label ng-if="!hour.meeting.title" class="form-control" style="color:darkgray" ng-click="SaveMeeting(hour)"><input type="hidden">Click here to add meeting</label>                    
                </div>
            </div>
        </div>
    </div>
</div>