<div class="ng-cloak container">
    <div class="row">
        <div class="col-lg-6 ">
            <h2>{{day}}</h2>           
            <div ng-repeat="hour in dayhoursmeetings">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{{hour.view}}</span>
                    <label ng-if="hour.meeting.title" class="form-control" ng-click="DeleteMeeting(hour)"><input type="hidden">{{hour.meeting.title}}</label>
                    <label ng-if="!hour.meeting.title" class="form-control" style="color:darkgray" ng-click="SaveMeeting(hour)"><input type="hidden">Click here to add meeting</label>
                    <!--how to remove?-->
                </div>
            </div>
        </div>
    </div>
</div>