<link rel="stylesheet" href="../Common/../Common/app/meetings/meetings.css"/>
<div class="ng-cloak container-fluid pad-zero" ng-if="loaded" ng-click="hide($event)">
    <div class="row main-row">
        <div class="row visible-lg container-lg">
            <i class="glyphicon glyphicon-chevron-left bttn-left-lg" ng-click="PreviousWeek()"></i>
            <i class="glyphicon glyphicon-chevron-right bttn-right-lg" ng-click="NextWeek()"></i>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <div class="row visible-xs container-sm">
                <button class="glyphicon glyphicon-chevron-left bttn-left-sm" ng-click="PreviousWeek()"></button>
                <span class="span-sm" ng-bind="startWeek"></span>-<span ng-bind="endWeek"></span>
                <button class="glyphicon glyphicon-chevron-right bttn-right-sm pull-right"
                        ng-click="NextWeek()"></button>
            </div>
            <label class="pull-right" for="check1"
                   ng-bind="showAllDays? localization.btnShowWorkingDays:localization.btnShowAllDays"></label>
            <input type="checkbox" class="pull-right" id="check1" ng-click="toggleShowAlldays()"/>

            <h3>{{contact.name}} <span ng-bind="localization.labMeetings"></span></h3>


            <directive-sessions visitor="visitor" localization="localization"></directive-sessions>

            <directive-messager localization="localization"  currentsessionid="currentsessionid" showmessages="showmessages" visitor="visitor" messages="messages"></directive-messager>


            <div ng-repeat="day in week">
                <div class="well">
                    <label class="pull-right" for={{day.day}}
                           ng-bind="day.showAllHours ? localization.btnShowWorkingHours : localization.btnShowAllHours">

                    </label>
                    <input type="checkbox" class="pull-right" id={{day.day}} ng-click="toggleShowAllhours(day)"/>
                    <meetings-day day="day.dayView" slots="day.slots" contact="contact" visitors="visitors" meetingsweek="day.meetingsWeek"
                                  meetingrequestsweek="meetingrequestsWeek"
                                  requestsessions="requestsessions" visitor="visitor"
                                  templateurl="templateurl">

                    </meetings-day>
                </div>
            </div>
        </div>
    </div>
</div>