<link rel="stylesheet" href="../Common/app/meetings/meetingsday.css"/>
<div class="ng-cloak meetings-day">
    <div class="row container-fluid">
        <div class="day-schedule">
            <h2>{{day}}</h2>

            <div ng-repeat="slot in slots" class="slots">
                <div class="input-group">
                    <span class="input-group-addon" id="view">{{slot.view}}</span>

                    <div id="divAbs">
                        <div id="divRel">
                            <div ng-repeat="meeting in getSlotMeetings(slot)"
                                 ng-style="StyleFunc({contact:slot.contact,meeting:meeting})" class="meeting">
                                <span id="titleMeeting">{{meeting.title}}</span>
                                <i class="pull-right">
                                    <i class=" glyphicon glyphicon-pencil" id="icons"
                                       ng-click="EditingMeeting({meeting:meeting,row:slot})"></i>
                                    <i class="glyphicon glyphicon-remove" id="icons"
                                       ng-click="DeleteMeeting({meeting:meeting,meetings:meetingsweek})"></i>
                                </i>
                            </div>
                        </div>
                    </div>
                    <label class="form-control" ng-click="ToggleEditMode(slot)" id="spaceForMeeting"><input
                            type="hidden"></label>
                </div>
                <!--editmode-->
                <div ng-if="slot.editmode" id="edit" ng-style="{'margin-top' :plaseEditForm * 0.65-38 +'px'}">
                    <input type="hidden">

                    <form>
                        <div class="form-group" style="display:inline-block;margin-bottom: 0">
                            <div class="input-group clockpicker" style="width: 120px">
                                <input type="text" class="form-control" ng-model="startMeeting">
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                    </span>
                            </div>

                        </div>
                        <div class="pull-right" style="display:inline-block">
                            <button class="btn btn-default" type="button" ng-click="SaveMeeting(slot)" style="width: 110px">
                                Confirm
                            </button>
                        </div>


                    </form>
                    <form >
                        <div class="form-group" style="display:inline-block">
                            <div class="input-group clockpicker" style="width: 120px">
                                <input type="text" class="form-control" ng-model="endMeeting">
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                    </span>
                            </div>
                        </div>
                        <div class="pull-right" style="display:inline-block">
                            <button class="btn btn-default" type="button" ng-click="CancelEdit(slot)" style="width: 110px">
                                Cancel
                            </button>
                        </div>
                    </form>
                    <div class="input-group" >
                    <span class="input-group-addon">
                    <input type="checkbox" ng-checked="editingModel.text==='Reserved'" ng-click="resrvedCheck(slot)">
                    </span>
                        <input type="text" class="form-control" placeholder="Username" ng-change="search()"
                               ng-model="editingModel.text">
                    </div>
                    <ul class="list-group">
                        <li><a class="list-group-item" ng-repeat="nameContact in nameContacts"
                               ng-click="selectSearchItem(nameContact)" ng-bind="nameContact"></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

