<body>

<div class="col-lg-offset-2" style="margin-top: 20px">



    <div style="margin-top: 10px">
        <div class="col-lg-5">
            <div>
                <input type="checkbox" ng-click="allClick('coach')">
                <span>check/uncheck all</span>
                <button class="btn btn-danger pull-right" ng-click="removeSelected()">remove selected</button>
            </div>
            <ul class="list-group">
                <B>Coaches</B>
                <li class="list-group-item" ng-repeat="coach in coaches" style="margin-bottom: 5px;">

                    <input type="checkbox" ng-model="coach.checked">
                    <span>{{coach.name}}</span>

                    <button class="btn btn-danger" style="position: absolute; right: 3px;top: 1px;"
                            ng-click="deleteButton(coach)"> DEL
                    </button>

                    <b style="margin-left: 45px;">bases: </b>
                    <a ng-repeat="base in coach.bases" href={{base.href}}
                       style="margin-left: 5px ;font-size: 11px">
                        {{base.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <div>
                <input type="checkbox" ng-click="allClick('visitor')">
                <span>check/uncheck all</span>
                <button class="btn btn-danger pull-right" ng-click="removeSelected()">remove selected</button>
            </div>
            <ul class="list-group">
                <B>Visitors</B>
                <li class="list-group-item" ng-repeat="visitor in visitors" style="margin-bottom: 5px;">

                    <input type="checkbox" ng-model="visitor.checked">
                    <span>{{visitor.name}}</span>

                    <button class="btn btn-danger" style="position: absolute; right: 3px;top: 1px;"
                            ng-click="deleteButton(visitor)"> DEL
                    </button>

                    <b style="margin-left: 45px;">bases: </b>
                    <a ng-repeat="base in visitor.bases" href={{base.href}}
                       style="margin-left: 5px ;font-size: 11px">
                        {{base.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>