<body>
<div style="margin-top: 10px">
    <div class="col-lg-4 col-lg-offset-2">
        <ul class="list-group">
            <B>Coaches</B>
            <li class="list-group-item" ng-repeat="coach in coaches">
                <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="...">
                      </span>
                    <label class="form-control">{{coach.name}}</label>
                </div>

                <button class="btn btn-danger pull-right" style="margin-top: -7px;margin-left: 1px;"
                        ng-click="deleteButton(coach)"> DEL
                </button>
                <div class="pull-right" style="margin-top: -7px;" ng-dropdown-multiselect="" options=coach.bases
                     selected-model="example1model"></div>
            </li>

        </ul>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
        <ul class="list-group">
            <B>Visitors</B>
            <li class="list-group-item" ng-repeat="visitor in visitors">
                {{visitor.name}}
                <button class="btn btn-danger pull-right" style="margin-top: -7px;margin-left: 1px;" ng-click="deleteButton(visitor)"> DEL</button>
                <div class="pull-right" style="margin-top: -7px;" ng-dropdown-multiselect="" options="visitor.bases"
                     selected-model="example1model"></div>
            </li>
        </ul>
    </div>
</div>

</body>