<div class="pop-width">
    <div ng-repeat="request in getSlotMeetingRequests({content:meetingrequestsweek,slot:slot})" class="list-group popover-container">
        <a class="list-group-item pop-list-bottom">
            <span>{{getLastMessage(request.sessionId)}}</span> <br>
            <span>start: {{convertDate(request.start)}}</span> <br>
            <span>end: {{convertDate(request.end)}}</span>

            <div>
                <button class="btn btn-default button-popover"
                        ng-click="confirmRequest({request:request,slot:slot})">confirm
                </button>
                <button class="btn btn-default" ng-click="rejectRequest(request)">reject
                </button>
            </div>
        </a>

        <div class="pop-according">
            <accordion close-others= {{true}}>
                <accordion-group ng-if="otherRequest !== request" heading="{{convertDate(otherRequest.start)}} - {{convertDate(otherRequest.end)}}"
                                 ng-repeat="otherRequest in getRequestsBySession(request.sessionId)">
                </accordion-group>
            </accordion>
        </div>
    </div>

</div>