.bottom-margin:not(:last-child) {
    margin-bottom: 15px;
}
.topAll {
    margin-top: 50px;
    margin-bottom: 40px;
}
.break-word {
    overflow: auto;
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
}
.remove-button {
    position: absolute;
    top: -11px;
    right: 5px;
    cursor: pointer;
    font-size: large;
}
.ulWidth{
   width:100%
}
.liCollapse{
    width:33%;
    text-align:center
}
