<link rel="stylesheet" href="app/settings/settings.css" />
<div class="ng-cloak">
    <div class="row" style="margin:0 0 0 0">
        <div class="col-lg-6 col-lg-offset-3" style="margin-top:60px">
            <div class="well">
                <span ng-bind="settingsDays" g></span>
                <div ng-repeat="day in days">
                    <input type="checkbox" id={{day.value}} ng-model="day.checked" />
                    <label for={{day.value}} ng-bind="day.value"></label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="well">
                <span ng-bind="settingsHours" g></span>
                <div>
                    <div class="col-lg-4">
                        <div ng-repeat="hour in firstGroupHours">
                            <div>
                                <input type="checkbox" id={{hour.value}} ng-model="hour.checked" />
                                <label for={{hour.value}} ng-bind="(hour.value)+':00'"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div ng-repeat="hour in SecondGroupHours">
                            <div>
                                <input type="checkbox" id={{hour.value}} ng-model="hour.checked" />
                                <label for={{hour.value}} ng-bind="(hour.value)+':00'"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div ng-repeat="hour in ThirdGroupHours">
                            <div>
                                <input type="checkbox" id={{hour.value}} ng-model="hour.checked" />
                                <label for={{hour.value}} ng-bind="(hour.value)+':00'"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <button class="pull-right btn btn-default" ng-click="AcceptSettings()" ng-bind="settingsAccept"></button>
        </div>
    </div>
</div>
