<div class="row row-menu">
    <a href="#search"><i class="fa fa-search fa-2x visible-xs menu-elements"></i></a>
	<div class="visible-sm menu-elements">
		<i class="fa fa-search fa-2x menu-icons"></i>
		<div class="menu-lables">
			<a href="#search">{{localization.searchMenu}}</a>
		</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-search fa-3x menu-icons"></i>
		<div class="menu-lables">
			<a href="#search">{{localization.searchMenu}}</a>
		</div>
	</div>
	<i class="fa fa-weixin fa-2x visible-xs menu-elements"></i>
	<div class="visible-sm menu-elements">
		<i class="fa fa-weixin fa-2x menu-icons"></i>
		<div class="menu-lables">{{localization.messageMenu}}</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-weixin fa-3x menu-icons"></i>
		<div class="menu-lables">{{localization.messageMenu}}</div>
	</div>
	<i class="fa fa-map-marker fa-2x visible-xs menu-elements"></i>
	<div class="visible-sm menu-elements">
		<i class="fa fa-map-marker fa-2x menu-icons"></i>
		<div class="menu-lables">{{localization.mapMenu}}</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-map-marker fa-3x menu-icons"></i>
		<div class="menu-lables">{{localization.mapMenu}}</div>
	</div>
	<a href="#calendar"><i class="fa fa-calendar fa-2x visible-xs menu-elements"></i></a>
	<div class="visible-sm menu-elements">
		<i class="fa fa-calendar fa-2x menu-icons"></i>
		<div class="menu-lables">
			<a href="#calendar">{{localization.calendarMenu}}</a>
		</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-calendar fa-3x menu-icons"></i>
		<div class="menu-lables">
			<a href="#calendar">{{localization.calendarMenu}}</a>
		</div>
	</div>

    <a href="#profile"><i class="fa fa-user fa-2x visible-xs menu-elements"></i></a>
    <div class="visible-sm menu-elements">
        <i class="fa fa-user fa-2x menu-icons"></i>
        <div class="menu-lables">
            <a href="#profile">{{userName}}</a>
        </div>
    </div>
    <div class="visible-md menu-elements">
        <i class="fa fa-user fa-3x menu-icons"></i>
        <div class="menu-lables">
            <a href="#profile">{{userName}}</a>
        </div>
    </div>
</div>

<div class="pad-land">
    <div class="row visible-xs">
        <div class="relat">
            <select-directive localization="localization" searchtext="cityText.value"  classdirective="classCity" ></select-directive>
        </div>
        <div class="relat">
            <select-directive localization="localization" searchtext="specText.value"  classdirective="classSpec" ></select-directive>
        </div>
        <div>
            <span>{{localization.additionalParams}}</span>
        </div>
        <div class="chevron-extra">
            <div class="chevron">
                <i ng-if="showInfo" class="fa fa-chevron-circle-up big-font cursor" ng-click="showInfoFun('hide')"></i>
                <i ng-if="!showInfo" class="fa fa-chevron-circle-down big-font cursor"
                   ng-click="showInfoFun('show')"></i>
            </div>
            <hr class="hr-chevr ">
        </div>
        <div ng-if="showInfo" class="event-form form-extra-opt">
            <input class="all-width" placeholder= {{localization.clarifyingData}}>
            <div ng-repeat="alterSlot in alterSlots">
                <i class="time-icon font-big fa fa-clock-o"></i>
                <div class="slot-div">
                    <input type="time" class="input-time-meeting" ng-model="alterSlot.start">
                    <span>-</span>
                    <input type="time" class="input-time-meeting" ng-model="alterSlot.end">
                    <span ng-if="!alterSlot.showCalendar" class="grey-color cursor"
                          ng-click="showCalendarFun(alterSlot)">{{alterSlot.dateText}}</span>
                    <i ng-if="!alterSlot.showCalendar" class="fa fa-calendar grey-color"></i>
                    <input type="date" ng-if="alterSlot.showCalendar" class="alter-input"
                           ng-model="alterSlot.alterInput">
                    <button ng-if="alterSlot.showCalendar" ng-click="alterOk(alterSlot)">Ok</button>
                </div>
            </div>
            <div class="grey-button">
                <i class="fa fa-plus form-icon font-middle"></i><span class="pad-left cursor" ng-click="addAlternate()">{{localization.addReception}}</span>
            </div>

            <div class="ok-reject">
                <div class="pull-right">
                    <span>{{localization.searchButton}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row visible-sm">
        <div class="relat advanced-drop-big">
            <select-directive localization="localization" searchtext="cityText.value"  classdirective="classCity" ></select-directive>
        </div>
        <div class="relat advanced-drop-big margin-five">
            <select-directive localization="localization" searchtext="specText.value"  classdirective="classSpec" ></select-directive>
        </div>

        <div>
            <span>{{localization.additionalParams}}</span>
        </div>
        <div class="chevron-extra">
            <div class="chevron">
                <i ng-if="showInfo" class="fa fa-chevron-circle-up big-font cursor" ng-click="showInfoFun('hide')"></i>
                <i ng-if="!showInfo" class="fa fa-chevron-circle-down big-font cursor"
                   ng-click="showInfoFun('show')"></i>
            </div>
            <hr class="hr-chevr ">
        </div>
        <div ng-if="showInfo" class="event-form form-extra-opt">
            <input class="all-width" placeholder= {{localization.clarifyingData}}>
            <div ng-repeat="alterSlot in alterSlots">
                <i class="time-icon font-big fa fa-clock-o"></i>
                <div class="slot-div">
                    <input type="time" class="input-time-meeting" ng-model="alterSlot.start">
                    <span>-</span>
                    <input type="time" class="input-time-meeting" ng-model="alterSlot.end">
                    <span ng-if="!alterSlot.showCalendar" class="grey-color cursor"
                          ng-click="showCalendarFun(alterSlot)">{{alterSlot.dateText}}</span>
                    <i ng-if="!alterSlot.showCalendar" class="fa fa-calendar grey-color"></i>

                    <input type="date" ng-if="alterSlot.showCalendar" class="alter-input"
                           ng-model="alterSlot.alterInput">
                    <button ng-if="alterSlot.showCalendar" ng-click="alterOk(alterSlot)">Ok</button>
                </div>
            </div>
            <div class="grey-button">
                <i class="fa fa-plus form-icon font-middle"></i><span class="pad-left cursor" ng-click="addAlternate()">{{localization.addReception}}</span>
            </div>

            <div class="ok-reject">
                <div class="pull-right">
                    <span>{{localization.searchButton}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row visible-md">
        <div class="col-md-4">
			<span class="font-xxl">{{localization.searchParams}}</span>
            <div class="relat pad-bottom">
				<select-directive localization="localization" searchtext="cityText.value"  classdirective="classCity" ></select-directive>
			</div>
			<div class="relat">
				<select-directive localization="localization" searchtext="specText.value"  classdirective="classSpec" ></select-directive>
			</div>
            <div>
                <span>{{localization.additionalParams}}</span>
            </div>
            <div class="chevron-extra">
                <div class="chevron">
                    <i ng-if="showInfo" class="fa fa-chevron-circle-up big-font cursor"
                       ng-click="showInfoFun('hide')"></i>
                    <i ng-if="!showInfo" class="fa fa-chevron-circle-down big-font cursor"
                       ng-click="showInfoFun('show')"></i>
                </div>
                <hr class="hr-chevr ">
            </div>
            <div ng-if="showInfo" class="event-form form-extra-opt">
                <input class="all-width" placeholder= {{localization.clarifyingData}}>

                <div ng-repeat="alterSlot in alterSlots">
                    <i class="time-icon font-big fa fa-clock-o"></i>

                    <div class="slot-div">
                        <input type="time" class="input-time-meeting" ng-model="alterSlot.start">
                        <span>-</span>
                        <input type="time" class="input-time-meeting" ng-model="alterSlot.end">
                    <span ng-if="!alterSlot.showCalendar" class="grey-color cursor"
                          ng-click="showCalendarFun(alterSlot)">{{alterSlot.dateText}}</span>
                        <i ng-if="!alterSlot.showCalendar" class="fa fa-calendar grey-color"></i>
                        <input type="date" ng-if="alterSlot.showCalendar" class="alter-input"
                               ng-model="alterSlot.alterInput">
                        <button ng-if="alterSlot.showCalendar" ng-click="alterOk(alterSlot)">Ok</button>
                    </div>
                </div>
                <div class="grey-button">
                    <i class="fa fa-plus form-icon font-middle"></i><span class="pad-left cursor"
                                                                          ng-click="addAlternate()">{{localization.addReception}}</span>
                </div>

                <div class="ok-reject">
                    <div class="pull-right">
                        <span>{{localization.searchButton}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
		<div class="col-md-4">
			
			<div class="dialog-search">
			   <span class="font-xxl">{{localization.resultsList}}</span>
               <div class="list-block">
                   <span>{{localization.previouslyVisited}}</span>
               </div>
                <div class="list-block">                    
                </div>

                <div class="list-block pad-top">
                    <span>{{localization.nearest}}</span>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="list-block">
                    <div ng-repeat="provider in searchResult">
                        <i class="fa fa-user icon-list"></i>
                        <span>{{provider.userName}}, {{provider.phone}}</span>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dialog-search">
				<span class="font-xxl">{{localization.resultsOnMap}}</span>
				<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
						<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords"  icon="m.icon"
										idkey="m.id"></ui-gmap-marker>
					</ui-gmap-google-map>
			</div>
		</div>
    </div>

</div>
