<style>
    table {
        width: 95%;
    }
</style>
<div infinite-scroll="pagingFunction()">
    <div class="row row-menu">
        <a href="#search"><i class="fa fa-search fa-2x visible-xs menu-elements"></i></a>
        <div class="visible-sm menu-elements">
            <i class="fa fa-search fa-2x menu-icons"></i>
            <div class="menu-lables">
                <a href="#search">{{localization.searchMenu}}</a>
            </div>
        </div>
        <div class="visible-md menu-elements">
            <i class="fa fa-search fa-3x menu-icons"></i>
            <div class="menu-lables">
                <a href="#search">{{localization.searchMenu}}</a>
            </div>
        </div>
        <i class="fa fa-weixin fa-2x visible-xs menu-elements"></i>
        <div class="visible-sm menu-elements">
            <i class="fa fa-weixin fa-2x menu-icons"></i>
            <div class="menu-lables">{{localization.messageMenu}}</div>
        </div>
        <div class="visible-md menu-elements">
            <i class="fa fa-weixin fa-3x menu-icons"></i>
            <div class="menu-lables">{{localization.messageMenu}}</div>
        </div>
        <i class="fa fa-map-marker fa-2x visible-xs menu-elements"></i>
        <div class="visible-sm menu-elements">
            <i class="fa fa-map-marker fa-2x menu-icons"></i>
            <div class="menu-lables">{{localization.mapMenu}}</div>
        </div>
        <div class="visible-md menu-elements">
            <i class="fa fa-map-marker fa-3x menu-icons"></i>
            <div class="menu-lables">{{localization.mapMenu}}</div>
        </div>
        <a href="#calendar"><i class="fa fa-calendar fa-2x visible-xs menu-elements"></i></a>
        <div class="visible-sm menu-elements">
            <i class="fa fa-calendar fa-2x menu-icons"></i>
            <div class="menu-lables">
                <a href="#calendar">{{localization.calendarMenu}}</a>
            </div>
        </div>
        <div class="visible-md menu-elements">
            <i class="fa fa-calendar fa-3x menu-icons"></i>
            <div class="menu-lables">
                <a href="#calendar">{{localization.calendarMenu}}</a>
            </div>
        </div>
        <a href="#profile"><i class="fa fa-user fa-2x visible-xs menu-elements"></i></a>
        <div class="visible-sm menu-elements">
            <i class="fa fa-user fa-2x menu-icons"></i>
            <div class="menu-lables">
                <a href="#profile">{{userName}}</a>
            </div>
        </div>
        <div class="visible-md menu-elements">
            <i class="fa fa-user fa-3x menu-icons"></i>
            <div class="menu-lables">
                <a href="#profile">{{userName}}</a>
            </div>
        </div>
    </div>

    <div class="row row-header">
        <div class="col-md-11 col-sm-11 col-xs-11 lab-hr">
            <div class="calendar font-big visible-sm visible-md">
                <span>{{localization.myCalendar}}</span>
            </div>
            <div class="calendar font-middle visible-xs">
                <span>{{localization.myCalendar}}</span>
            </div>
            <div class="chevron">
                <i ng-if="calSetHide" class="fa fa-chevron-circle-down chevron-down cursor" ng-click="showSet()"></i>
                <i ng-if="!calSetHide" class="fa fa-chevron-circle-up chevron-down cursor" ng-click="hideSet()"></i>
            </div>
            <hr class="hr-chevr">
        </div>
    </div>

    <div ng-if="!calSetHide" class="row drop-calendar slot-font font-middle">
        <select class="calendar font-big">
            <option value="My calendar">{{localization.myCalendar}}</option>
            <option value="My calendar">{{localization.myCalendar}}</option>
            <option value="My calendar">{{localization.myCalendar}}</option>
            <option value="My calendar">{{localization.myCalendar}}</option>
        </select>

        <div class="pad-top">
            <datepicker ng-model="$parent.dt" starting-day="1" show-weeks="true" class="well well-sm"></datepicker>
        </div>
        <div class="grey-button">
            <div class="div-check"><input type="checkbox" class="form-icon" ng-model="dontShowAll.hours"
                                          ng-click="dontShowAllHours()" id="check4"></div>
            <label for="check4" class="pad-left cursor non-working">{{localization.allHours}}</label>
        </div>
        <div class="grey-button">
            <div class="div-check"><input type="checkbox" class="form-icon" ng-model="dontShowAll.days"
                                          ng-click="dontShowAllDays()" id="check1"></div>
            <label for="check1" class="pad-left cursor non-working">{{localization.allDays}}</label>
        </div>
    </div>
    <div>
        <div class="row row-days" ng-repeat="twain in days">
            <div class="col-xs-12  col-md-6" ng-repeat="day in twain">
                <div class="day font-xxl margin-day" ng-bind="setDayLabel(day)"></div>
                <div class="slot-font font-middle">
                    <div class="pad-bottom-px" ng-repeat="slotHour in day.hours">
                        <div class="float pad-time">{{slotHour.hour}}</div>
                        <div class="cont-events">
                            <div class="overflow-float cursor" ng-class="{currentEvent : meeting.chosen}"
                                 ng-click="setCurMeet({slotHour:slotHour, meeting:meeting, hours: day.hours})"
                                 ng-repeat="meeting in slotHour.meetings">
                                <div ng-style="meetStyle(slotHour.meetings.length)">
                                    <div class="times-event">
                                        <div ng-if="startMeeting({meeting:meeting.alterSlots[0], slotHour:slotHour})"
                                             ng-bind="transformDate(meeting.alterSlots[0].start)">
                                        </div>
                                        <div ng-class="{end_top:setEndTop({meeting:meeting.alterSlots[0],slotHour:slotHour})}"
                                             ng-if="endMeeting({meeting:meeting.alterSlots[0], slotHour:slotHour})"
                                             class="end-event" ng-bind="transformDate(meeting.alterSlots[0].end)">
                                        </div>
                                    </div>
                                    <div class="event">
                                        {{meeting.visitors[0].title}}, {{meeting.visitors[0].contactPhone}}
                                    </div>
                                </div>
                            </div>
                            <div class="white-button"
                                 ng-class="{existEvents:slotHour.meetings.length}"
                                 ng-click="clickCreate({slotHour:slotHour,day:day.dayname})">
                                {{localization.createButton}}
                            </div>
                        </div>
                        <br>

                        <div ng-if="slotHour.chosenMeet" class="form-meet">
                            <meeting-edit localization="localization" fivedaysweek="fiveDaysWeek" slothour="slotHour" day="day" days="days"></meeting-edit>
                        </div>
                        <div ng-if="slotHour.selectedCreate" class="form-meet">
                            <meeting-create localization="localization" fivedaysweek="fiveDaysWeek" slothour="slotHour" day="day" days="days"></meeting-create>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>