    <div class="login-cont">
       <input class="all-width advanced-drop font-big pad-left" ng-model="email" ng-style="styleEmail()" placeholder=" Введите e-mail">
       <div ng-if="warningEmail" class="pad-bottom red">
           <span>wrong email</span>
       </div>
       <input class="all-width advanced-drop font-big pad-left" type="password" ng-model="password" ng-style="stylePass()" placeholder=" Введите пароль">
       <div ng-if="wrongData" class="pad-bottom red">
           <span>wrong email or password</span>
       </div>
        <div ng-if="warningRegistration" class="pad-bottom red">
            <span>such a user already exist</span>
        </div>
       <div class="grey-button">
           <div class="float-right">
               <u><span>Забыли пароль?</span></u>
           </div>
           <div class="div-check"><input type="checkbox" ng-model="dontRemember.value" class="form-icon font-middle" id="check2"></div>
           <label for="check2" class="pad-left">Не запоминать меня</label>
       </div>
       <div class="login-buttons slot-font font-middle">
           <div class="pull-right">
               <span class="margin-reject cursor" ng-click="login()">Войти</span>
               <span class="cursor" ng-click="registration()">Зарегистрироваться</span>
           </div>
           <div class="clearfix"></div>
       </div>
   </div>

