<div class="chevron-event">
    <i class="fa fa-chevron-circle-up font-big cursor" ng-click="hideFormRed(slothour)"></i>
</div>
<hr class="hr-chevr margin-event-hr">
<div class="event-form">
    <div class="pad-bottom pad-top">
        <span class="white-info">{{localization.editMeetingLab}}</span>
    </div>

    <div>
        <span ng-if="selectText.value" ng-click="showInfoFun()" class="pad-left cursor">{{selectText.value}}, {{contactPhone}}</span>
    </div>

    <div class="chevron-event">
        <i ng-if="showInfo" class="fa fa-chevron-circle-up big-font cursor" ng-click="showInfoFun('hide')"></i>
        <i ng-if="!showInfo" class="fa fa-chevron-circle-down big-font cursor" ng-click="showInfoFun('show')"></i>
    </div>

    <hr class="hr-chevr margin-event-hr">

    <div ng-if="showInfo" class="form-input">
        <i ng-if="!selectText.value" class="fa fa-exclamation-triangle icon-input-red"></i>
        <i ng-if="selectText.value" class="fa fa-check icon-input"></i>
		<select-directive localization="localization" searchtext="selectText.value"  classdirective="classForSelect" ></select-directive>
    </div>
    <div ng-if="showInfo" class="form-input">
        <i ng-if="contactPhone && !wrongNumber"" class="fa fa-check icon-input"></i>
        <i ng-if="!contactPhone || wrongNumber" class="fa fa-exclamation-triangle icon-input-red"></i>
        <input class="all-width pad-left" placeholder={{localization.contactPhone}} ng-model="$parent.contactPhone" ng-change="changePhone($parent.contactPhone)">
		<span ng-if="wrongNumber" class="red">{{localization.warningPhone}}</span>
    </div>

    <div class="grey-button">
        <i class="fa fa-refresh form-icon font-middle"></i><span class="pad-left cursor" ng-click="clickMove(slothour)">{{localization.move}}</span>
    </div>
    <div ng-if="slothour.alterSlot">
        <i class="time-icon font-big fa fa-clock-o hidden-xs"></i>
        <div class="slot-div">		
			<input type="time" class="input-time-meeting float" ng-model="slothour.alterSlot.start">
            <span class="float split-time-sign">-</span>
            <input type="time" class="input-end-meeting input-time-meeting float" ng-model="slothour.alterSlot.end">	            
            <div class="float">
				<input type="date" class="day-input" ng-model="slothour.alterSlot.day" ng-change="changeDay(slothour.alterSlot)">				
			</div>	
			<div class="clearfix"></div> 
        </div>
    </div>
	
	<div class="grey-button">
        <div class="div-check">
			<input type="checkbox" ng-model="slothour.chosenMeet.visitors[0].hidden" class="form-icon font-middle" id="check8">
		</div>		
		<label for="check8" class="pad-left cursor visible-sm visible-md" ng-click="hideName(slothour)">{{localization.dontPublMe}}</label> 
		<label for="check8" class="pad-left cursor dont-publ-xs visible-xs" ng-click="hideName(slothour)">{{localization.dontPublMe}}</label> 		
    </div>    
    <div class="ok-reject">
        <div class="pull-right">
            <span class="margin-reject cursor" ng-click="deleteMeeting(slothour)">{{localization.reject}}</span>
            <span class="cursor" ng-click="saveMeeting(slothour)">{{localization.ok}}</span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>