<div>
    <form ng-submit="$parent.$parent.hideSelectList()">
        <input id="inputSelect" class="all-width pad-left" placeholder="{{placeholder}}"
               ng-click="$parent.$parent.getSelectValues()"
               ng-model="$parent.$parent.searchText" ng-change="$parent.$parent.filterSelect()">
    </form>
</div>
<div class="cont-select" ng-if="$parent.$parent.showSelect">
    <div ng-repeat="value in $parent.$parent.listValues" class="item-select" ng-class="{currSelect:value.current}" ng-mouseover="setCurrentVal(value)" ng-mouseleave="clearCurrent(value)" ng-click="$parent.$parent.$parent.clickSelect(value)">
        {{value.title}}
    </div>
</div>