<div class="row row-menu">
    <a href="#search"><i class="fa fa-search fa-2x visible-xs menu-elements"></i></a>
	<div class="visible-sm menu-elements">
		<i class="fa fa-search fa-2x menu-icons"></i>
		<div class="menu-lables">
			<a href="#search">{{localization.searchMenu}}</a>
		</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-search fa-3x menu-icons"></i>
		<div class="menu-lables">
			<a href="#search">{{localization.searchMenu}}</a>
		</div>
	</div>
	<i class="fa fa-weixin fa-2x visible-xs menu-elements"></i>
	<div class="visible-sm menu-elements">
		<i class="fa fa-weixin fa-2x menu-icons"></i>
		<div class="menu-lables">{{localization.messageMenu}}</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-weixin fa-3x menu-icons"></i>
		<div class="menu-lables">{{localization.messageMenu}}</div>
	</div>
	<i class="fa fa-map-marker fa-2x visible-xs menu-elements"></i>
	<div class="visible-sm menu-elements">
		<i class="fa fa-map-marker fa-2x menu-icons"></i>
		<div class="menu-lables">{{localization.mapMenu}}</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-map-marker fa-3x menu-icons"></i>
		<div class="menu-lables">{{localization.mapMenu}}</div>
	</div>
	<a href="#calendar"><i class="fa fa-calendar fa-2x visible-xs menu-elements"></i></a>
	<div class="visible-sm menu-elements">
		<i class="fa fa-calendar fa-2x menu-icons"></i>
		<div class="menu-lables">
			<a href="#calendar">{{localization.calendarMenu}}</a>
		</div>
	</div>
	<div class="visible-md menu-elements">
		<i class="fa fa-calendar fa-3x menu-icons"></i>
		<div class="menu-lables">
			<a href="#calendar">{{localization.calendarMenu}}</a>
		</div>
	</div>

    <a href="#profile"><i class="fa fa-user fa-2x visible-xs menu-elements"></i></a>
    <div class="visible-sm menu-elements">
        <i class="fa fa-user fa-2x menu-icons"></i>
        <div class="menu-lables">
            <a href="#profile">{{userName}}</a>
        </div>
    </div>
    <div class="visible-md menu-elements">
        <i class="fa fa-user fa-3x menu-icons"></i>
        <div class="menu-lables">
            <a href="#profile">{{userName}}</a>
        </div>
    </div>
</div>

<div class="pad-recover">
	<input ng-change="resetWarnings()" class="all-width" ng-model="valueEmail">
	<div ng-if="wrongEmail" class="pad-bottom red">
           <span>{{localization.wrongEmail}}</span>
		</div>
	<div>
		<span class="float-right slot-font cursor" ng-click="clickRecoverPassword()">{{localization.restorePassword}}</span>
	</div>
	<div class="clearfix"></div>
	<div ng-if="sended">		
		<i class="fa fa-check green"></i>
		<span class="slot-font"> {{localization.onAddress}} {{valueEmail}} {{localization.instructionsToRestore}}</span>
	</div>
</div>