<!DOCTYPE html>
<html manifest="manifest.appcache">
<head>
    <title>FiveOCLock</title>
    <link rel="stylesheet" href="../Common/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../Common/lib/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../Common/lib/jquery-clockpicker.css" />

    <link href="../Common/app/styles.css" rel="stylesheet" />
    <link href="../Common/app/loading.css" rel="stylesheet" />
    <script src="../Common/require.js" data-main="main"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8" />
</head>
<body>
    <nav class="navbar navbar-inverse cssNavbar">
        <div class="container-fluid" ng-controller="navBarController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="target">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isActiveNavbar('Contacts')}"><a href="#/Contacts" ng-bind="localization.navContacts"></a></li>
                    <li ng-class="{active:isActiveNavbar('Schedule')}"><a href="#/Meetings" ng-bind="localization.navSchedule"></a></li>
                    <li ng-class="{active:isActiveNavbar('Settings')}"><a href="#/Settings" ng-bind="localization.navSettings"></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="lang('ru')"><a class="ru">ru</a></li>
                    <li ng-click="lang('en')"><a class="pointer">en</a></li>
                    <li ng-if="!anonymous" ng-click="logout()"><a class="pointer" ng-bind="localization.logout"></a></li>
                    <li ng-if="anonymous" ng-click="register()"><a class="pointer" ng-bind="localization.register"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view>
        <div class="loading-container green-100 animation-07">
            <div class="arc">
                <div class="arc-cube"></div>
            </div>
        </div>
    </div>
    <div class="progress-indicator">
        <div id="status"></div>
        <div class="progress-bar" id="progress"></div>
        <div class="clearfix"></div>
    </div>
    <script>
        window.applicationCache.addEventListener('progress', function (e) {
            document.getElementById('status').innerHTML = "Loading application...";
            var percents = e.loaded * 30 / e.total;
            document.getElementById('progress').style.width = percents + '%';
        }, false);
    </script>
</body>
</html>
