.modal {
    background-color: rgba(128, 128, 128, .5);
}
.cssNavbar{
    position: fixed;
    width: 100%;
    z-index: 1011;
}
.ru{
    padding-right: 0;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.progress-indicator {
    height: 10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.progress-bar {
    background-color: cornflowerblue;
    float:left;
    width:0;
    height: 10px;
}