
<body>

<div class="col-lg-3 col-lg-offset-5">
    <form name="Form" style="margin-top: 15px">
        <div style="position: absolute;z-index: 5;margin-top:-40px;cursor: pointer">
            <span ng-click="lang('en')">en</span>
            <span ng-click="lang('ru')">ru</span>
        </div>
        <h2 style="margin-top: 50px;">Visitor registration</h2>
        <div class="input-group" style="width: 286px">
            <span ng-if="warningLoginLat" style="z-index: 5;position: absolute;font-size: 12px;margin-top: 33px" ng-bind="localization.warningTextLat"></span>
            <span ng-if="warningLoginExist" style="z-index: 5;position: absolute;font-size: 12px;margin-top: 33px" ng-bind="localization.warningTextExist"></span>
            <span ng-if="warningLogin" style="z-index: 5;position: absolute;font-size: 12px;margin-top: 33px" ng-bind="localization.warningTextLogin"></span>
            <input type="text" class="form-control" ng-style="styleFunction()" ng-model="name" placeholder={{localization.placeholderName}}
                   ng-change="changeName()" required>
        </div>
        <div class="input-group" style="width: 286px;margin-top: 15px">
            <input type="password" class="form-control" ng-model="password" placeholder={{localization.placeholderPassword}} required>
        </div>
        <div class="btn-group" style="width: 286px;margin-top: 15px" role="group" aria-label="...">
            <button class="btn btn-default" id="registration" ng-bind="localization.registrationButton"
                    ng-click="registration()"></button>
            <button class="btn btn-default" id="login" ng-click="login()" ng-bind="localization.loginButton"></button>
        </div>
    </form>
   </div>


</body>