.menu-elements{
    float: left;
    position: relative;
    width: 20%;
}
.menu-icons{
    float: left;
}
.menu-lables{
    float: left;
    padding-top: 4%;
    padding-left: 2%;
    font-size: 13px;
    font-weight: 600;
}
.font-middle{
    font-size: 13px;
}
.font-big{
    font-size: 18px
}
.font-xxl{
    font-size: 22px;
}
.red-circle{
    position: absolute;
    background-color: red;
    font-size: 11px;
    padding: 1px 0 1px 1.7px;
    width: 17px;
    top: 30px;
    left: 28px;
    border-radius: 15px;
    color: white;
}
.rc-sm{
    top: 19px;
    left: 14px;
}
.rc-xs{
    font-size: 9px;
    padding: 3px 0 0 1.1px;
    width: 17px;
    top: 19px;
    left: 16px;
    border-radius: 36px;
    height: 16px;
    color: white;
}
.row-menu{
    padding: 1%;
    padding-left: 5%;
    background-color: #F4F4F4;
    border-bottom: solid;
    border-bottom-color: rgba(192, 192, 192, 0.17);
}
.hr-chevr{
    margin-bottom: 0;
    margin-top: -10px;
    border: solid;
    border-width: 1px;
}
.hr-inner{
    margin: 0;
    border-color: black;
}
.margin-event-hr{
    margin-right: 8%;
}
.lab-hr{
    margin-top: 2%;
}
.row-header{
    margin-left: 2%;
}
.row-days{
    margin-left: 2%;
    padding-left: 1%;
}
.chevron{
    margin-left: 100%;
}
.chevron-event{
    margin-top: -0.5em;
    margin-left: 92%;
}
.chevron-extra{
    width: 98%;
    padding-right: 6px;
    margin-top: -5px;
}
.day{
    margin-left: 2%;
    margin-bottom: 1%;
}
.font-fam{
    font-family: 'Skolar Bold', 'Roboto Slab', 'Droid Serif', Cambria, Georgia, 'Times New Roman', Times, serif;
}
.margin-day{
    margin-top: 2%;
}
.calendar{
    margin-bottom: -5px;
}
.event{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: solid;
}
.own-event{
    color: red;
    border-color: black;
}
.end-event{
    float: left;
    font-size: 7px;
    padding: 0 2% 0 2%;
}
.current-event{
    background-color: hsla(0, 17%, 11%, 0.21);
}
.event-form{
    position: relative;
    padding: 1%;
    background-color: hsla(0, 17%, 11%, 0.21);
    margin-bottom: 1%;
    width: 93%
}

.white-button{
    float: left;
    color:lightslategrey ;
}
.float{
    float: left;
}
.cont-events{
    width: 80%;
    float: left;
}
.slot-font{
    font-weight: 600;
}
.white-info{
    color: #F4F4F4;
}
.show-map{
    padding: 0.5%;
}
.grey-button{
    padding-top: 1%;
    color: rgba(91, 93, 95, 0.57);
}
.grey-color{
    color: rgba(91, 93, 95, 0.57);
}
.black-button{
    padding-top: 1%;
}
.pad-left{
    padding-left: 1%;
}
.pad-top{
    padding-top: 1%;
}
.pad-bottom{
    padding-bottom: 1%;
}
.time-icon{
    float: left;
    padding-top: 10px;
    padding-left: 0.7%;
}
.form-icon{
    padding-top: 1%;
    padding-left: 1%;
}

.slot-span{
    border: solid;
    background-color: white;
    padding-right: 1%;
    padding-left: 1%;
}
.slot-div{
    margin-left: 30px;
    margin-top: 10px;
    padding-bottom: 1%;
}

.ok-reject{
    margin-right: 4%;
    /*margin-bottom: 2%;*/
}
.margin-reject{
   margin-right: 10px;
}
.drop-calendar{
    margin-left: 2%;
    margin-right: 7.5%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: hsla(0, 17%, 11%, 0.21);
    padding-bottom: 1%;
}
.margin-calendar{
margin-top: 10px;
}
.span-invit{
    margin-left: 3%;
}
.pad-zero{
    padding: 0;
}
.div-check{
    float: left;
    padding-top: 1.5px;
    margin-left: 1%;
}
.check-prof{
    float: left;
    margin-left: 1%;
}
.form-input{
    position: relative;
    width: 93%;
    margin-top: 1%;
    padding: 2px;
}
.icon-input{
    position: absolute;
    right: 8px;
    top: 7px;
    color: green;
}
.icon-input-red{
    position: absolute;
    right: 8px;
    top: 7px;
    color: salmon;
}
.hr-lock{
    margin: -2px 0 0 0;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid;
}
.hr-lock-white{
    margin: -2px 0 0 0;
    margin-right: 5%;
    border-top: 1px solid;
    color: #ffffff;
}
.pad-time{
    padding-right: 2%;
}
.exist-events{
    margin-left: 2%;
}
.lock-time{
    float: left;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: solid;
}
.overflow-float{
    float: left;
    overflow: hidden;
}
.input-caret{
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 22px;
}
.icon-search{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 22px;
    color: darkgray;
}
.input-search{
    padding: 5px;
    border: solid;
    border-width: 2px;
    font-size: 20px;
}
.all-width{
    width: 100%;
}
.relat{
   position: relative;
}
.row-dialogs{
    margin: 2%;
}
.dialog-cont{
    height: 6em;
    padding: 1%;
    background-color: #F4F4F4;
}
.dialog-outbox{
    margin-left: 5%;
    color: darkgray;
}
.dialog-inbox{
    float: right;
    color: darkgray;
}
.mess-xs-width{
    width: 80%;
}
.mess-sm-width{
    width: 50%;
}
.mess-inbox{
    float: left;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    margin-bottom: 25px;
}
.mess-outbox{
    float: right;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    margin-bottom: 25px;
}
.message-time-left{
    margin: 15px 15px 15px 0;
}
.message-time-right{
    margin: 15px 0 15px 15px;
}
.hr-dialog{
    margin: 0;
    border: solid;
    border-width: 1px;
}
.old-message{
    background-color: #ffffff;
}
.header-dialog{
    padding: 6px 0 6px 0;
}
.dialog-day{
    background-color: #F4F4F4;
    text-align: center;
    position: relative;
    color: darkgray;
}
.dialog-search{
    margin-left: 6%;
}
.next-day{
    text-align: center;
    margin-bottom: 20px;
    color: darkgray;
}
.spin{
    margin-left: 50%;
}
.send-form{
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px 15px 0 15px;
    height: 7em;
    background-color: #F4F4F4;
}
.textarea-size{
    width: 100%;
    height: 70%;
}
.ignore-btn{
    margin: -5px 0 0 15px;
}
.send-group{
    float: right;
    margin: -5px 20px 0 0;
}
.as-sms{
    margin-right: 20px;
}
.cont-messages{
    height:400px;
    overflow-y:scroll;
}
.cont-dialogs{
    height:520px;
    overflow-y:scroll;
}
.service-info{
    float: left;
    padding-right: 5px
}
.top-zero{
    margin-top: 0;
}
.red{
    color: red;
}
.green{
    color: green;
}
.gray{
    color: darkgrey;
}
.float-right{
    float: right;
}
.registration{
    float: left;
}
.language{
    float: right;
    margin-left: 10px;
}
.big-buttons{
    border: solid;
    padding: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.small-landing{
    margin: auto;
    width: 300px;
}
.label-Iwant{
    padding: 25px;
    font-size: 36px;
    margin-top: 45px;
}
.padding-buttons{
    padding-top: 10px;
}
.no-border{
    border: none;
}
.big-landing{
    display: inline-block;
    margin: 0.5%;
}
.center{
    text-align: center;
}
.advanced-drop-cont{
    padding: 5% 2% 2% 0;
}
.advanced-drop{
    border: solid;
    border-width: 2px;
    margin-bottom: 15px;
    padding-left: 1%;
}
.advanced-drop-big{
    width: 47%;
    float: left;
}
.advanced-cont-big{
    padding-left: 6%;
}
.margin-five{
    margin-left: 5%;
}
.pad-land{
    padding: 15px;
}
.form-extra-opt{
    width: 98%;
}
.list-block{
    margin-bottom: 5px;
}
.icon-list{
    font-size: 16px;
    margin-right: 3px;
}
.header-big-font{
    font-weight: 100;
}
.big-caret{
    font-size: 28px;
}
.login-cont{
    padding: 17%;
}
.login-buttons{
    margin-top: 6%;
}
.recover-cont{
    padding-top: 17%;
}
.recovered-cont{
    padding-top: 4%;
}
.prof-big-icon{
    float: left;
    font-size: 115px;
    padding: 25px 3%;
}
.prof-name{
    width: 60%;
    margin-bottom: 5px;
    border: solid;
    border-width: 2px;
    padding-left: 1%;
}
.prof-name-cont{
    padding-top: 32px;
}
a{
    color: #000000;
}
.cursor{
    cursor: pointer;
}






@media (min-width:800px){
   #smallLand{
       display: none !important;
   }
    #bigLand{
        display: block !important;
    }

}
.tabs {
    position: relative;
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 35px 0 25px;
    background: white;
}
.tab {
    float: left;

}
.tab label {
    background: hsla(0, 17%, 11%, 0.21);
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: -1px;
    position: relative;
    left: 1px;
    top: -29px;
    border-radius: 4px;
}
.tab [type=radio] {
    display: none;
}
.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: #eee;
    right: 0;
    bottom: 0;
    padding: 20px;
    opacity: 0;
}
[type=radio]:checked ~ .tab-lab {
    background: #eee;
    z-index: 2;
    padding: 15px;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
}
