.menu-elements{
    float: left;
    position: relative;
    width: 20%;
}
.menu-icons{
    float: left;
}
.menu-lables{
    float: left;
    padding-top: 4%;
    padding-left: 2%;
    font-size: 13px;
    font-weight: 600;
}
.red-circle{
    background-color: red;
    width: 20px;
    position: absolute;
    top: 65%;
    left: 10%;
    border-radius: 15px;
    color: white;
}
.font-middle{
    font-size: 13px;
}
.row-menu{
    padding: 1%;
    padding-left: 5%;
    background-color: #F4F4F4;
    border-bottom: solid;
    border-bottom-color: rgba(192, 192, 192, 0.17);
}
.hr{
    margin-bottom: 0;
    margin-top: -10px;
    border: solid;
    border-width: 1px;
}
.margin-event-hr{
    margin-right: 8%;
}
.lab-hr{
    margin-top: 2%;
}
.row-header{
    margin-left: 2%;
}
.row-days{
    margin-top: 1%;
    margin-left: 2%;
    padding-left: 1%;
}
.chevron{
    margin-left: 100%;
}
.chevron-event{
    margin-top: -0.5em;
    margin-left: 92%;
}
.day{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 25px;
    font-family: cursive;
}
.margin-day{
    margin-top: 2%;
}
.calendar{
    margin-bottom: -5px;
    font-size: 18px;
    font-family: cursive;
}
.event{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1%;
    padding-left: 2%;
    border-right: solid;
}
.own-event{
    color: red;
    border-color: black;
}
.end-event{
    float: left;
    font-size: 7px;
    padding-left: 2%;
}
.current-event{
    background-color: hsla(0, 17%, 11%, 0.21);
}
.event-form{
    position: relative;
    padding: 1%;
    background-color: hsla(0, 17%, 11%, 0.21);
    height: 11em;
    width: 93%
}
.exp-map{
    height: 14em;
}
.height-move{
    height: 22em;
}
.white-button{
    float: left;
    padding-left: 3%;
    color:lightslategrey ;
}
.float{
    float: left;
}
.cont-events{
    width: 80%;
    float: left;
}
.slot-font{
    font-size: 13px;
    font-family: cursive;
    font-weight: 600;
}
.white-info{
    color: #F4F4F4;
    margin-bottom: 1%;
}
.show-map{
    font-size: 10px;
    padding: 0.5%;
}
.grey-button{
    padding-top: 1%;
    color: rgba(91, 93, 95, 0.57);
}
.grey-color{
    color: rgba(91, 93, 95, 0.57);
}
.black-button{
    padding-top: 1%;
}
.pad-left{
    padding-left: 1%;
}
.pad-top{
    padding-top: 1%;
}
.time-icon{
    float: left;
    padding-top: 1%;
}
.slot-span{
    border: solid;
    background-color: white;
    padding-right: 1%;
    padding-left: 1%;
}
.slot-div{
    margin-left: 5%;
    margin-top: 1.5%;
    padding-bottom: 1%;
}
.margin-reject{
    position: absolute;
    bottom: 7px;
    right: 35px;
}
.margin-ok{
    position: absolute;
    bottom: 7px;
    right: 100px;
}
.drop-calendar{
    margin-left: 2%;
    margin-right: 7.5%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: hsla(0, 17%, 11%, 0.21);
    padding-bottom: 1%;
}
.margin-calendar{
margin-top: 10px;
}
.span-invit{
    margin-left: 3%;
}
.left-zero{
    margin-left: 0;
}

