<div style="position: fixed; z-index: 6;  background: darkgray; border-radius: 10px;left: 6%;top: 37%;border: solid 2px" class="col-lg-2">
    <h3>{{localization.headerSessions}}</h3>

    <div ng-repeat="session in getByVisitor()" class="input-group session-list">
            <span class="input-group-addon" id="sizing-addon1">
                <input type="radio" name="sessionrequest" ng-checked="IsCurrentSession(session)"
                       ng-click="setSession(session)">
            </span>
            <input type="text" class="form-control" ng-blur="confirmChange(session)" ng-model="session.text">
            <i class="glyphicon glyphicon-remove delete-session"
           ng-click="deleteSession({session:session,sessions:sessions})"></i>
    </div>

    <div class="input-group add-session">
        <input type="text" class="form-control" ng-model="nameSession">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addSession()">{{localization.sessionAdd}}</button>
      </span>
    </div>


</div>